openapi: 3.1.0
info:
  title: Heidi Health Ask Heidi Clinical Coding API
  version: v2
  summary: Public Heidi REST API for ambient AI medical scribe, transcription, consult notes, documents, clinical coding, and Ask Heidi.
  description: 'The Heidi API lets partner platforms (EHRs, telehealth apps, custom clinician

    tools) drive Heidi''s ambient documentation engine end-to-end:

    authentication via tenant API key + per-user JWT, patient profile

    management, session lifecycle (create, update, list, retrieve),

    contextual attachments and linked sessions, audio upload (single file or

    chunked live), transcript retrieval (final or live-chunked), template

    discovery, streamed consult-note and document generation against Heidi

    or custom templates, multi-standard clinical coding (ICD-10/SNOMED/CPT

    and others), and streamed Ask Heidi assistant responses.


    Documentation: https://www.heidihealth.com/developers/heidi-api/overview

    '
  contact:
    name: Heidi Health Support
    url: https://support.heidihealth.com
  license:
    name: Heidi Health Terms of Service
    url: https://www.heidihealth.com/legal/terms-of-service
servers:
- url: https://registrar.api.heidihealth.com/api/v2/ml-scribe/open-api
  description: Production
security:
- bearerAuth: []
tags:
- name: Clinical Coding
  description: ICD/SNOMED/CPT and related code generation.
paths:
  /sessions/{session_id}/clinical-codes:
    get:
      tags:
      - Clinical Coding
      summary: Get Clinical Codes
      description: Generate clinical codes for the session across the requested coding system.
      operationId: getSessionClinicalCodes
      parameters:
      - $ref: '#/components/parameters/SessionId'
      - in: query
        name: coding_system
        required: true
        schema:
          type: string
          enum:
          - ICD-10
          - ICD-10-CM
          - ICD-9
          - ICD-9-CM
          - SNOMED
          - SNOMED-CT
          - OPCS-410
          - ACHI-13
          - CPT-2025
      responses:
        '200':
          description: Clinical codes for session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalCodesResponse'
components:
  schemas:
    ClinicalCodesResponse:
      type: object
      properties:
        coding_system:
          type: string
        status:
          type: string
          enum:
          - PROCESSING
          - READY
          - FAILED
        entities:
          type: array
          items:
            $ref: '#/components/schemas/ClinicalCodeEntity'
    ClinicalCodeEntity:
      type: object
      properties:
        entity:
          type: string
        primary_code:
          $ref: '#/components/schemas/ClinicalCode'
        similar_codes:
          type: array
          items:
            $ref: '#/components/schemas/ClinicalCode'
        references:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
                enum:
                - TRANSCRIPT
                - CONSULT_NOTE
              text:
                type: string
              start:
                type: integer
              end:
                type: integer
    ClinicalCode:
      type: object
      properties:
        code:
          type: string
        description:
          type: string
        coding_system:
          type: string
        effective_date:
          type: string
          format: date
        valid:
          type: boolean
        hierarchy:
          type: array
          items:
            type: string
  parameters:
    SessionId:
      in: path
      name: session_id
      required: true
      schema:
        type: string
  securitySchemes:
    heidiApiKey:
      type: apiKey
      in: header
      name: Heidi-Api-Key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
